@import "variables";
@import "mixin";

.btn {
  font-size: 16px;
  line-height: 21px;
  padding: 20px 30px;
  background: $red;
  color: $white;
  border-radius: 3px;
  border: solid 1px $red;

  &:hover {
    background: transparent;
    color: $red;
    border: 1px solid $red;
  }

  &-xl {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  &-block {
    width: 100%;
  }

  &-ml {
    padding: 15px 25px;
  }

  &-transparent {
    background: transparent;
  }
}
