.log-in-page {
  .header {
    margin-bottom: 0;
  }

  .box {
    max-width: 355px;
    margin-right: auto;
    margin-left: auto;
  }

  .authorization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;

    .title-authorization {
      text-align: center;
      font-size: 30px;
      line-height: 41px;
      color: $purple;
      margin-bottom: 38px;
    }

    .form-group {
      width: 355px;
      margin-bottom: 20px;

      input {
        width: 100%;
        height: 70px;
        font-size: 16px;
        line-height: 16px;
        padding: 8px 16px;
        border: none;
        box-shadow: 0 0 13px -4px rgba(34, 60, 80, 0.2);

        &::placeholder {
          font-size: 18px;
          line-height: 25px;
          color: $beige;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .btn {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      width: 100%;
    }
  }

  .socials-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title-socials {
      display: block;
      text-align: center;
      font-size: 24px;
      line-height: 33px;
      color: $purple;
      margin-bottom: 19px;
    }

    .socials-btn {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .btn-facebook,
      .btn-google {
        background: transparent;
        padding: 19px 37px;
        color: $dark-violet;
        border-radius: 3px;
        display: flex;
        align-items: center;
        border: solid 1px $dark-violet;

        i {
          font-size: 20px;
          color: $dark-violet;
          padding-right: 12px;
        }
      }

      .btn-google {
        border: solid 1px $red;
        color: $red;

        i {
          color: $red;
        }
      }
    }
  }

  .excerpt {
    font-size: 18px;
    line-height: 25px;
    color: $purple;
    width: 100%;
    margin-bottom: 45px;

    a {
      color: $red;
      text-decoration: underline;
      padding-left: 12px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-area {
    display: flex;
    justify-content: flex-end;
  }
  
  @media (max-width: 767px) {
    .authorization {
      .form-group {
        width: 287px;
      }
    }

    .socials-area {
      .socials-btn {
        .btn-facebook,
        .btn-google {
          padding: 15px 25px;
        }
      }

      .excerpt {
          padding-left: 0;
        }
      }
  }
}