@import "variables";
@media (max-width: 1115px) {
  .authors-heading {
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .header {
    padding: 20px 0 0;
    margin-bottom: 20px;
  }

  .authors-heading {
    padding: 0;
  }

  .slider {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 35px 0 0;
    margin-bottom: 14px;
  }

  .header-content {
    padding: 0;

    .logo {
      img {
        width: 170px;
      }
    }

    .username-block {
      .user {
        img {
          width: 40px;
        }
      }
    }
  }

  .btn-menu {
    display: none;
  }

  .menu-navigation {
    top: 55px;
    .navigation {
      .mobile-block {
        display: block;

        .text-user {
          display: block;
        }
      }
    }
  }

  .text-user {
    display: none;
  }

  .username {
    img {
      width: 45px;
    }
  }

  .authors-heading {
    flex-direction: column;
    align-items: end;
    margin-bottom: 25px;

    .title-authors {
      font-size: 36px;
      line-height: 44px;
      max-width: 170px;
      margin-bottom: 15px;
    }

    .form-group {
      width: 290px;
    }
  }

  .slider {
    .slick-arrow {
      top: -160px;
      transform: none;
      right: 3px;
    }

    .slick-prev,
    .slick-next {
      padding: 27px;
    }

    .slick-next {
      left: auto;
      right: 65px;
    }

    .slick-prev {
      &:after {
        top: 19px;
        left: 17px;
      }
    }

    .slick-next{
      &:after {
        top: 20px;
        left: 17px;
      }
    }

    .draggable {
      padding: 0!important;
      height: 455px;
    }
  }

  .footer-area {
    flex-direction: column;
  }

  .log-in-page {
    .authorization-form {
      .form-group {
        width: 287px;
      }
    }

    .socials-area {
      .socials-btn {
        .btn-facebook,
        .btn-google {
          padding: 15px 25px;
        }
      }

      .excerpt {
        padding-left: 0;
      }
    }
  }
}
